<mat-dialog-content class="bg-white dark:bg-gray-900 w-full rounded-lg">
    <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Regras da
        categoria X
    </h2>

    <ul class="dark:text-white list-disc px-8   ">
        <li class="py-2">Game must be restarted before each (full or misc) run. The video must show initial load of the
            game.</li>
        <li class="py-2">Any save files loaded must be made during the run.</li>
        <li class="py-2">The Frame Limiter in the options is allowed to switched on and off as per the runner's wishes.
        </li>
        <li class="py-2">3rd party frame limiters are allowed</li>
        <li class="py-2">All modifications besides the ones listed here (https://www.speedrun.com/gtasa/thread/ar4sg)
            are banned.
        </li>
        <li class="py-2">Using OS functions to affect the game in an unintended way during the run is prohibited. </li>
    </ul>
</mat-dialog-content>