<mat-dialog-content class="bg-white dark:bg-gray-900 w-full rounded-lg">

    <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Regras
    </h2>

    <h2 class="mb-4 text-xl tracking-tight font-md text-center text-gray-900 dark:text-white">Gerais
    </h2>

    <ul class="dark:text-white list-disc px-8">
        <li class="py-1">É obrigatório jogar em live.</li>
        <li class="py-1">No video de comprovação é obrigatório:</li>
        <ul class="dark:text-white list-disc px-8">
            <li class="py-1">Mostrar lista de mods</li>
            <li class="py-1">Mostrar as configs do save</li>
        </ul>
    </ul>


    <h2 class="mb-4 text-xl tracking-tight font-md text-center text-gray-900 dark:text-white">Categoria
    </h2>


    <span id="rules" class="dark:text-white">
    </span>
</mat-dialog-content>